@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela+Round');

/*VARIABELEN*/
$color1: #fad454;
$color2: #e96669;
$color3: #fd9945;
$color4: #553c55;
$color5: #9bceb7;
$color6: #707070;

$fontset1: 'Varela Round',
sans-serif;
$fontset2: 'Open Sans',
sans-serif;

$breekpunt: 850px;

/*OPMAAK*/
* {
    padding: 0;
    margin: 0;
    font-family: $fontset2;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: $color1;

    /*TYPOGRAPHY*/
    h1, h2, h3, h4, h5, h6 {
        font-family: $fontset1;
        max-width: 800px;
    }

    h1 {
        line-height: 1em;
        font-size: 3.5rem;
        font-weight: 700;
    }

    h2 {
        margin-top: 20px;
        font-size: 3rem;

        @media (max-width: 600px) {
            font-size: 2rem;
        }
    }

    h3{
        font-size: 2rem;

        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
    }

    h4{
        font-size: 1.5rem;
    }

    h5{
        font-size: 6rem;
        font-weight: 900;
        padding-bottom: -20px;
    }  
    h6{
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        
    }

    p {
        font-family: $fontset2;
        margin-top: 30px;
        font-size: 1.2rem;
        line-height: 1.7em;
    }

    /*TERUGKERENDE LAY_OUT*/
    /*NAVIGATION BAR*/
    .navbar {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 50px 10px;
        /* Large padding which will shrink on scroll (using JS) */
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;

        a {
            font-family: $fontset1;
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }

        #logolink:hover {
                background-color: none;     
        }

        a.icon {
            display: none;
        }

        #logo {
            margin-left: 20px;
            max-width: 45px;
        }

        a:hover {
            background-color: #ddd;
            color: darkslategray;
        }

        a.active {
            color: $color2;
            border-bottom: 4px solid $color2;
            border-radius: 0;
        }

        .navbar-right {
            float: right;
            margin-right: 20px;
        }

        /* Add responsiveness - on screens less than 850px wide, display the navbar vertically instead of horizontally */
        @media (max-width: $breekpunt) {

            #navbar {
                padding: 20px 10px !important;
                /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
                overflow: hidden;
                position: relative;
            }

            a {
                display: block;
            }

            .navbar-right #links {
                display: none;
            }

            .navbar-right {
                a {
                    display: block;
                }
            }

            /* Style the hamburger menu */
            a.icon {
                display: block;
                font-size: 25px;
            }

            #logo {
                margin-left: 20px;
            }

        }
    }

    .container-fluid {
        margin: 0 auto;
        height: auto;
        max-width: 100%;


        /*HOMEPAGE*/
        .home-row {

            &.row {
                height: auto
            }

            position: relative;
            width: 100%;
            max-height: 400px;

            .home-ill {
                padding: 40px 0;
                float: left;
                display: block;
                background-color: $color2;
                z-index: 10;
                position: absolute;
                position: fixed;
                border-radius: 0 4px 4px 0;

                max-width: 25%;
                height: 50%;

                .home-ill-div {
                    img {
                        position: absolute;
                        left: 65%;
                        z-index: 11;
                        float: right;
                    }
                }

                @media (max-width: 1200px) {
                    max-width: 15%;
                    height: 50%;
                }

                @media (max-width: 1000px) {
                    max-width: 5%;
                    height: 50%;
                }

                @media (max-width: $breekpunt) {
                    visibility: hidden;
                }
            }
        }

        .home-col-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;

            .home-div-logo {
                top: 0;
                z-index: 0;
                width: 100%;
                height: auto;
                margin: auto;
                padding: 0 15%;

                img {
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                }
            }

            .home-txt {
                width: 75%;
                margin: 20px auto;
                padding: 20px;
            }

            .txt {
                a {
                    text-decoration: none;
                }

                a:hover,
                a:active {
                    text-decoration: none;
                }

                .bttns {
                    text-decoration: none;
                    color: black;
                    display: block;
                    box-sizing: border-box;
                    line-height: 64px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1em;
                    background-color: $color2;
                    margin-top: 1em;
                    border-radius: 20px;
                    border: 0;
                    min-width: 50%;

                    @media (max-width: 1130px) {
                        width: 100%;
                        height: 50%;
                    }

                }

                .bttns:hover,
                .bttns:active,
                .bttns:visited {
                    background-color: $color4;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                }
            }

            .home-ill-mobile {
                padding: 20px;
                width: 50%;
                height: auto;
                float: right;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }

    .footer {
        max-height: 100px;
        margin: 0 auto;
        padding: 20px 10px 40px 10px;
        text-align: right;
        font-family: $fontset2;
        font-weight: 700;
        border-top: 2px solid black;
    }

    /*Tekstvakken van padding voorzien*/
    .eerste-rij {
        margin-top: 200px;
        height: auto;
        @media (max-width: 768px) {
            padding: 20px;
        }
    }

    .txt-left {
        padding: 20px 20px 20px 10%;
        @media (max-width: 768px) {
            padding: 0 60px;
            margin: 0 auto;
        }
    }

    .img-left {
        padding: 20px;
        margin: 0 auto;
    }

    .txt-right {
        padding: 20px 10% 20px 20px;
        @media (max-width: 768px) {
            padding: 0 60px;
            margin: 0 auto;
        }
    }

    .img-right {
        padding: 20px;
        margin: 0 auto;
    }

    /*INFO PAGE*/
    .cnt-info {
        margin: 0 auto;
        height: auto;
        padding: 0px;
        overflow: hidden;

        .eerste-rij {
            padding: 0;

            .col-kleurvlak{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .kleurvlak-rechts {
                    position: absolute;
                    right: 0px;
                    width: 75%;
                    height: 75%;

                    background-color: $color2;
                    
                    img {
                        position: absolute;
                        bottom: -80px;
                        right: 25%;
                        padding-right: 40px;
                        width: 100%;
                        height: auto;
                        max-height: auto;
                }
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }

            .txt-left{
                p{
                    margin-top: 0;
                    .info-img-mobile-right{
                        float: right;
                        width: 50%;
                        padding: 20px;

                        @media (min-width:768px) {
                            display: none;
                        }
                    }
                }
            }
        }

        .tweede-rij {
            margin: 40px auto;
            .col-kleurvlak{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                .kleurvlak-links {
                    position: absolute;
                    left: 0px;
                    width: 75%;
                    height: 75%;

                    background-color: $color2;
    
                    img {
                        position: absolute;
                        bottom: -80px;
                        left: 30%;
                        padding-right: 40px;
                        width: auto;
                        height: auto;
                        max-height: 500px;
                    }
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }

            .txt-right{
                p{
                    margin-top: 0;
                    .info-img-mobile-left{
                        padding: 20px;
                        float: right;
                        width: 50%;

                        @media (min-width:768px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .container {
        .row {
            position: relative;

            /*TIPS PAGE*/
            .tip-txt {
                width: 75%;
                padding: 20px;
                float: right;
                position: relative;
                margin-bottom: 40px;

                h1 {
                    padding-left: 25%;
                    color: $color2;
                }

                p {
                    padding-left: 25%;

                    .tip-img-mobile{
                        display: none;

                        @media (max-width: 768px) {
                            margin: 20px auto 0 auto;
                            display: block;
                            width: 50%;
                            padding: 10px;
                        }
                    }
                }
                
                @media (max-width: 600px) {
                    width: 100%;
                    padding-right: 40px;
                    margin-bottom: 0;
                    h1{
                        font-size: 2.5rem;
                        padding-left: 20%;
                    }
                    p{
                        padding-left: 20%;
                    }
                }
            }

            /*TIPS nummering*/
            #tip1 {
                h1::before {
                    content: "1";
                    position: absolute;
                    top: 70px;
                    left: 0;
                    top: 70px;
                    color: $color2;
                    font-family: $fontset1;
                    font-weight: bold;
                    font-size: 12rem;
                    max-width: 25%;
                    display: block;

                    @media (max-width: 600px) {
                        font-size: 6rem;
                        margin-left: 20px;
                        top: 40px;
                    }

                    @media (max-width: 992px) {
                        font-size: 8rem;
                        top: 50px;
                    }
                }
            }

            #tip2 {
                h1::before {
                    content: "2";
                    position: absolute;
                    top: 70px;
                    left: 0;
                    color: $color2;
                    font-family: $fontset1;
                    font-weight: bold;
                    font-size: 12rem;
                    max-width: 25%;
                    display: block;

                    @media (max-width: 600px) {
                        font-size: 6rem;
                        margin-left: 20px;
                        top: 40px;
                    }

                    @media (max-width: 992px) {
                        font-size: 8rem;
                        top: 50px;
                    }
                }
            }

            #tip3 {
                h1::before {
                    content: "3";
                    position: absolute;
                    top: 70px;
                    left: 0;
                    color: $color2;
                    font-family: $fontset1;
                    font-weight: bold;
                    font-size: 12rem;
                    max-width: 25%;
                    display: block;

                    @media (max-width: 600px) {
                        font-size: 6rem;
                        margin-left: 20px;
                        top: 40px;
                    }

                    @media (max-width: 992px) {
                        font-size: 8rem;
                        top: 50px;
                    }
                }
            }

            #tip4 {
                h1::before {
                    content: "4";
                    position: absolute;
                    top: 70px;
                    left: 0;
                    color: $color2;
                    font-family: $fontset1;
                    font-weight: bold;
                    font-size: 12rem;
                    max-width: 25%;
                    display: block;

                    @media (max-width: 600px) {
                        font-size: 6rem;
                        margin-left: 20px;
                        top: 40px;
                    }

                    @media (max-width: 992px) {
                        font-size: 8rem;
                        top: 50px;
                    }
                }
            }

            /*TIPS image*/
            .tip-img {
                
                img {
                    margin: 20px auto;
                    padding: 20px 30px;
                    height: auto;
                    width: 80%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }

            /*HULPGROEP image en txt*/
            .hulp-txt{
                padding: 20px 40px;

                h2{
                    margin-top: 0;
                }
                .hulp-img-mobile{
                    display: none;

                    @media (max-width: 768px) {
                        float: right;
                        display: block;
                        width: 40%;
                        padding: 10px;
                    }
                }

                @media (max-width: $breekpunt){
                    padding: 20px;
                }

            }

            .hulp-img{
                padding: 40px 40px;
                margin: auto auto;

                img{
                    width: 80%;
                    height: auto;
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }

            /*CONTACT*/
            .contact{
                clear: right;
                margin-bottom: 50px;

                button{
                    padding: 10px 25px;
                    background-color: $color4;
                    color: white;
                    border: none;
                    border-radius: 16px;

                    font-family: $fontset1;
                    font-weight: 600;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }

            .img-contact{
                width: 50%;
                height: auto;
                padding: 20px;
                position: absolute;
                right: 0%;
                img{
                    width: 75%;
                    float: right;

                    @media (max-width: 767.98px) {
                        display: none;
                    }
                }

                @media (max-width: 767.98px) {
                    display: none;
                }
            }
        }

        /*CROWDFUNDING*/
        .row-crwdf{
            .info-crowdfunding{
                .column {
                    float: left;
                    width: 50%;
                    padding: 20px 20px 20px 0;

                    .plan {
                        min-height: 550px;
                        list-style-type: none;
                        text-align: center;
                        border: 4px solid $color4;
                        color: $color4;
                        border-radius: 24px;
                        margin: 0;
                        padding: 20px;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;

                        position: relative;

                        li {
                            padding: 10px;

                            h3{
                                font-weight: 900;
                                color: $color2;
                            }
                            h4{
                                padding-bottom: 20px;
                                border-bottom: 2px solid $color4;  
                            }      
                          }

                        .li-button{
                            position: absolute;
                            bottom: 20px;
                            right: 25%;
                            height:  50px;

                            .button {
                                padding: 10px 25px;
                                background-color: $color4;
                                border: none;
                                border-radius: 16px;
                                color: white;

                                font-family: $fontset1;
                                font-weight: 600;
                                text-align: center;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-size: 1rem;
                              }
                            .button:hover{
                                background-color: $color2;
                                color: black;
                            }
                            
                        }
                    } 
                    .plan:hover{
                        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
                    }  
                      
                    @media only screen and (max-width: 600px) {
                          width: 80%;
                          margin: 0 50px;
                        }
                  }

                .crowdfunding-uitleg{
                    padding: 50px;
                }
            }

            .sidebar-crowdfunding{
                background-color: $color4;
                border-radius: 24px;
                padding: 20px;
                color: $color1;

                margin-top: 150px;
                margin-bottom: 40px;
                position: relative;
                text-align: center;

                .crwdf-img{
                    margin: 0 auto;
                    position: absolute;
                    top: -50px;

                    img{
                        width: 60%;
                        height: auto;
                    }
                }

                .crwdf-doel{
                    margin-top: 280px;
                    height: 280px;

                    h3{
                        text-align: left;
                    }

                    .progress{
                        background-color: $color2;
                    }

                    #percentage{
                        width: 50%;
                        float: left;
                        
                        p{
                            margin-top: 10px;
                            text-align: left;
                        }
                    }

                    #bedrag{
                        width: 50%;
                        float: right;

                        p{
                            margin-top: 10px;
                        }
                    }

                    a{
                        .doneerbttn{
                            margin: 10px auto;
                            padding: 10px 25px;
                            background-color: $color1;
                            color: $color2;
                            border: none;
                            border-radius: 16px;

                            font-family: $fontset1;
                            text-align: center;
                            font-weight: 800;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 1.25rem;
                        }

                        .doneerbttn:hover{
                            background-color: $color2;
                            color: $color4
                        }
                    }

                    a:hover{
                        background-color: $color2;
                        color: black
                    }
                }

                .crwdf-countdown{
                    h3{
                        text-transform: uppercase;
                    }

                    #countdown{
                        color: $color2; 

                        p{
                            margin-top: 0;
                            font-size: 2rem;
                            border-top: 4px solid $color2;
                            border-bottom: 4px solid $color2;
                        }
                    }
                }

                @media only screen and (max-width: 600px) {
                    margin: 20px;

                    .crwdf-doel{
                        height: 230px;
                    }
                  }
            }

            @media (max-width: 600px){
                padding: 20px;

                h2{
                    font-size: 2rem;
                }
                h3{
                    font-size: 1.5rem;
                }
            }
        }

        /*HULP CARDS PAGE*/
        .row-card {

            .cardblock {
                color: white;
                margin-top: 200px;
                width: 50%;
                height:200px;
                margin: auto;
                text-align: center;
                padding: 10px 20px;

                a{
                    text-decoration: none;
                    color: white;
                }

                a:hover{
                    text-decoration: none;
                    color: black;
                }

                .bol {
                    padding: 10px;
                    margin: auto;

                    .icon{
                    font-size: 3rem;
                    text-align: center;
                    margin: auto;
                    color: white;

                    width: 90px;
                    height: 90px;
                    margin: auto;
                    border-radius: 50%;
                    background-color: $color4;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
                }

                .textblock {
                    background-color: $color4;
                    border-radius: 24px;
                    border-style: hidden;
                    width: 60%;
                    margin: auto;
                    padding: 15px 20px;
                    margin-top: -25px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .textblock:hover{
                    background-color: $color2;
                    color: black;
                }
                @media (max-width: 992px) {
                    .textblock{
                        width: 100%;
                        height: 80px;
                    }
                }

                @media (max-width: 600px) {
                    .bol{
                        .icon{
                            font-size: 2.5rem;
                            width: 80px;
                            height: 80px;
                        }
                    }

                    .textblock{
                        width: 100%;
                        height: 60px;
                        h4{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

/*CALENDER*/
.calender-row{
    padding: 20px;
    min-height: 200px;
    position: relative;
    

    .calender-img{
        width: 100%;
        position: absolute;
        left: 20;
        position: fixed;
        z-index: 20;
        margin: 0 auto;
        img{
            width: 15%;
            height: auto;

            @media (max-width: 767.98px) {
                display: none;
            }
        }
    }

    .date{
        text-align: right;
        color: $color2;
        margin-bottom: 40px;
        padding: 10px 30px;

        @media (max-width: 767.98px) {
            margin: 0px auto;
            width: 25%;
            padding: 10px;
            border: 4px solid $color2;
            border-radius: 24px;

            text-align: center;
            
            h5{
                font-size: 3rem;
                font-weight: 900;
            }

            h6{
                font-size: 2rem;
            }
        }
    }

    .event{
        margin-bottom: 40px;

        button{
            -webkit-appearance: none;
            margin-top: 10px, 0, 30px,0;
            padding: 10px 20px;

            border-radius: 16px;
            background-color: $color4;
            border-style: none;

            font-size: 1rem;
            font-family: $fontset1;
            font-weight: 700px;

            a{
                text-decoration: none;
                color: white;
            }
        }

        button:hover{
            background-color: $color2;
            color: black;

            a:hover{
                color: black;
                text-decoration: none;
                font-weight: 700px;
            }
        }
    }

}